@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* google-font */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/* Colors */

:root {
  --primary-color: #000000;
  --secondary-color: #7B7B7B;

  --default-text: "inter";

}

/* google-font */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 10px;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background: #f8f8f8;
  overflow-x: hidden;
}

h4,
h5 {
  color: #232532;
  font-family: "Jost", sans-serif;
  font-weight: 700;
}

h4 {
  font-size: 3.4rem;
}

h5 {
  font-size: 3rem;
  margin-bottom: 0;
}

a {
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

a .list-text {
  color: #FFFFFF;
  font-size: 1.6rem;
}

a span {
  font-size: 14px;
  font-weight: 500;
}

p {
  font-size: 15px;
  color: #797979;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
  margin: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 132.1rem;
}

@media (max-width:767px) {
  .container {
    padding: 0 2rem;
  }
}

input {
  font-size: 1.3rem;
}

input[type=checkbox] {
  accent-color: #AE1C9A;
}

button {
  border: none;
  outline: none;
  background: transparent;
}

.shop-btn {
  padding: 1.2rem 3.4rem;
  margin: 4rem 0;
  text-align: center;
  border-radius: 3rem;
  display: inline-block;
  background: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 500;
  position: relative;
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
  transition: all 0.3s;
  overflow: hidden;
  z-index: 1;
}

.shop-btn::after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #232532;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
  top: 0;
  z-index: -3;
}

.shop-btn svg {
  fill: #FFFFFF;
  transition: all 0.5s;
}

.shop-btn span {
  margin-left: 8px;
  font-size: 1.5rem;
  width: 100%;
  z-index: 1;
  transition: all 0.4s ease-in-out;
}

.shop-btn:hover {
  color: var(--primary-color);
  background-color: transparent;
  border: 1px solid var(--primary-color);
}

.shop-btn:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.shop-btn:hover svg {
  fill: currentColor;
  fill: #FFFFFF;
  transform: translate(5px);
}

.shop-btn:hover span {
  color: #FFFFFF;
}

.product {
  padding: 6rem 0;
}

@media (max-width:1023px) {
  .product {
    padding: 3rem 0;
  }
}

.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.price .new-price {
  color: var(--primary-color);
}

.modal-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modal-wrapper .anywhere-away {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.37);
  width: 100%;
  height: 100%;
}

.modal-main {
  position: relative;
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
}

.modal-main .wrapper-close-btn {
  position: absolute;
  right: 3rem;
  top: 3rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.modal-main .wrapper-close-btn svg {
  fill: currentColor;
  fill: red;
  stroke: red;
}

.modal-main .wrapper-main .divider {
  height: 3rem;
  width: 1px;
  background: #e8e8e8;
}





hr {
  color: #f3b4ea;
}

.product-description .tab-item .product-feature ul li::marker {
  font-size: 1.5rem;
}

.review-form {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.review-form .comment-title {
  margin-bottom: 3rem;
}

.review-form .form-control,
.review-form .form-select {
  border: 1px solid rgba(174, 28, 154, 0.08);
  box-shadow: none;
  color: #232532;
}

.review-form label {
  font-family: "Jost", sans-serif;
  font-size: 1.5rem;
  color: #797979;
  margin-bottom: 0.5rem;
}

.review-form input {
  height: 5rem;
}

.review-form input,
.review-form select {
  padding: 1rem 2rem;
  font-size: 1.4rem;
}

@media (max-width:767px) {
  .review-form .comment-title {
    font-size: 2rem;
  }
}

.close-btn svg {
  width: 1rem;
  height: 1rem;
  fill: currentColor;
  fill: #797979;
}

.close-btn svg:hover {
  fill: red;
}

.login {
  background-image: url(../assets/images/hero/Hero2.jpg);
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
}

.login-section .review-form {
  width: 51.2rem;
  height: 63rem;
  background-color: #FFFFFF;
  padding: 4rem;
  border-radius: 0.5rem;
}

.login-section .review-form .comment-title {
  text-align: center;
  margin-top: 5rem;
}

.login-section .review-form .shop-btn {
  width: 100%;
  margin: 0 0 2rem 0;
}

.login-section .review-form .shop-btn::after {
  display: none;
}

.login-section .review-form .shop-account {
  color: #797979;
  font-size: 1.3rem;
}

.login-section .review-form .shop-account a {
  font-size: 1.3rem;
  margin-left: 0.5rem;
  font-weight: 400;
}

@media (max-width:767px) {
  .login-section .review-form {
    padding: 2rem;
    height: auto;
  }
}

.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.checkbox-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.checkbox-item p {
  margin-bottom: 0;
  color: #797979;
}

.checkbox-item p .inner-text {
  color: #232532;
}

.account-section .review-form {
  width: 57.2rem;
  height: 139.1rem !important;
}

.account-section .account-inner-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.account-section .account-inner-form .review-form-name {
  width: 100%;
}

.account-section .city-inner-form {
  margin-bottom: 0;
}

.account-section .address-form {
  margin: 2rem 0;
}

@media (max-width:767px) {
  .account-section .review-form {
    padding: 2rem;
    height: auto;
  }

  .account-section .account-inner-form {
    flex-direction: column;
  }

  .account-section .checkbox-item {
    margin: 1rem;
  }
}

.privacy-section .policy .policy-features ul li::marker {
  font-size: 2rem;
}

.divider {
  background: rgba(174, 28, 154, 0.08);
  width: 100%;
  height: 1px;
  border-radius: 50%;
  margin: 2rem 0;
}

/*# sourceMappingURL=style.css.map */